{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>{{ offre.title }}</h1>   

    <img src="https://via.placeholder.com/150" class="center">

    <p>Description : {{ offre.Description }}</p>

    
    <p>{{ offre.Contrat }} à {{ offre.Ville }}, {{ offre.adresse }}, {{ offre.CodePostal }}, à temps {{ offre.ContratType }}</p>

    <p>Offre crée le {{offre.DateCreation|date('d/m/Y')}} et mis à jour le {{offre.DateMaj|date('d/m/Y')}}</p>

    {% if offre.Contrat != 'CDI' %}
        <p>Ce Contrat prendra fin le {{offre.FinMission|date('d/m/Y')}}</p>
    {% endif %}

    <button class="center">Postuler à l'offre</button>

    {% if is_granted('ROLE_USER') %}
        <a href="/modif/{{ offre.Id }}" class="retour">Modifier l'offre</a>

        <a href="/delete/{{ offre.Id }}" class="retour">Supprimer l'offre</a>
    {% endif %}

    <a href="/" class="retour">Retour</a>
</div>{% endblock %}